<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- Accessibility Service -->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <!-- Background service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application

        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"

        android:label="CM AUTO BID"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"

        android:theme="@style/Theme.CM">


        <!-- Main Screen -->

        <activity

            android:name=".MainActivity"

            android:exported="true">


            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


        </activity>



        <!-- Auto Click Accessibility Service -->

        <service

            android:name=".service.CMAccessibilityService"

            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"

            android:exported="true">


            <intent-filter>

                <action android:name="android.accessibilityservice.AccessibilityService" />

            </intent-filter>


            <meta-data

                android:name="android.accessibilityservice"

                android:resource="@xml/accessibility_config" />


        </service>


    </application>


</manifest>
